
div #amxSharePopup {

  @import 'select2.min.scss';

  .select2-search__field{
    background-image: none!important;
  }

}

// Footer

.footer-link{

  display: block;
  overflow: auto;
  margin-top: 24px;

  .footer-link-left{

    line-height: 32px!important;
    float:left;

    .footer-link-title{

      font-weight: bold;
      color: #000;

      .icon{
        display: inline-block;
        margin-right: 1px;
        min-width: 14px;
        min-height: 14px;
        background-size: 14px;
        position: relative;
        top: 2px;
      }

    }

    .footer-link-desc{
      font-size: 0.9em;
      margin-top: -6px;
      margin-left: 17px;
    }

  }

  .footer-link-right{

    display:inline-block;
    float: right;
    width: auto;
    min-width: 300px;
    text-align: right;

    .icon-loading-small{

      display: inline-block;
      margin-right: 6px;
      top:2px;

    }

    a {

      font-weight: bold;
      color: #1483C7!important;

      &:hover{
        color: #00a2e9;
      }

      &.copylink-noshare{

        color: #8a8a8a!important;

      }

    }

    #linkCopyText{

      font-size: 10px;
      display: block;

    }

  }

}

.footer-confirm{

  text-align: right;

  .icon-loading-small{
    display: inline-block;
    margin-right: 19px;
  }

  button.shareBtn{

    max-width: 220px;
    display: inline-block!important;

  }

}

.footer-cancel {

  text-align: right;
  padding-top: 32px;


}

// Share Form

div#amxSharePopup .shareForm {

  margin: auto;

  width: 95%;

  .shareForm-oneline{

    padding:0px 0px 6px 0px;
    border-bottom: 1px #F7F7F7 solid;

    .shareForm-label {
      float: left;
      display:block;
      width: 36px;
      padding: 4px;
    }

    .shareForm-input {

      overflow: hidden;
      position: relative;
      top:-3px;

      .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #E2F4FE;
        border: 1px solid #D1D6D8;
        border-radius: 0px;
        padding: 3px 8px;
      }

      .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        margin-right: 5px;
      }



      input, input:hover, input:focus, li.select2-search, span.select2-selection ul{
        cursor: text!important;
      }

      input::placeholder {
        font-style: italic;
      }

      .select2-search {
        width: auto!important;
      }

      .select2-container--default .select2-selection--multiple {
        border: 0!important;
        border-radius: 0!important;
      }

    }

    .shareForm-btn{

      float: right;
      width: 32px;
      display: block;
      height: 48px;

      & > a span.icon{
        display: block;
      }
    }


  }

  .shareSubject {

    margin: 10px auto;

    textarea{
      width: 100%;
      min-height: 150px;
    }

  }

}

div#amxSharePopup {

  span.select2-dropdown {

    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

  }

  li.select2-results__option {
    //background-color: #ffffcc;
  }

}

// Pop Over

div#amxSharePopup {

  // Share.csss

  label {
    font-weight: 400;
    white-space: nowrap;
  }
  input[type='radio'].radio + label {
    margin-left: -1px;
  }
  input[type='checkbox'] {
    margin: 0 3px 0 8px;
    vertical-align: middle;
  }
  input[type='submit'] {
    margin-left: 7px;
  }

  // Sharetabview.scss

  input[type="text"].shareWithField,
  input[type="text"].emailField,
  input[type="text"].linkText,
  input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding-right: 32px;
    text-overflow: ellipsis;
  }

  // Pop over

  .popovermenu.socialSharingMenu {
    right: -7px;
  }

  .popovermenu .clipboardButton {
    position: relative;
    top: initial;
    right: initial;
    padding: 18px 0 18px 36px;
  }

  .popovermenu .shareOption {
    padding-right: 0 !important;
  }

  .popovermenu label {
    width: 100%;
    display: inline-block;
    padding: 0 10px 0 0 !important;
  }

  .shareForm-btn{

    flex-shrink: 0;
    position: relative;

    label input[type=checkbox] {
      margin-left: 0;
      position: relative;
    }

    .popovermenu {
      right: -11px;
      top: 35px;
      padding: 3px 6px;
    }

    .popovermenu:after {
      right: 3px;
    }


    .icon-more {
      padding: 7px;
      vertical-align: middle;
      opacity: .5;
    }

    .shareOption.menuitem > label:before {
      /* Checkboxes positionning */
      margin: 0 12px !important;
    }

    .shareOption {
      white-space: nowrap;
      display: inline-block;
    }

    .shareOption > label {
      padding: 6px;
      margin-right: 8px;
      vertical-align: text-top;
    }

  }

}



div#amxShareCancel {

  .modal-body > div {

    margin: auto;

    width: 95%;

  }

}

