/* SHARE MODAL CONFIG
------------------------------------------ */

// Modal Wrapper

.modal {

    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    z-index: 3000;

    text-align: center;

}

// Modal Content

.modal-content {
     position: relative;
     background-color: #fefefe;
     margin: 8vh auto;
     padding: 0;
     border: 1px solid #888;
     width: 80%;
     max-width: 660px;
     box-shadow: 0 0 20px #222;
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s;

     text-align: left;

}


// Modal Header

.modal-header {

  padding: 8px 16px;
  background-color: #F7F7F7;

  h2 {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    color: #737373;

    > div.thumbnail {

      background-size: 32px;
      height: 32px;
      width: 32px;
      display: block;
      float: left;
      margin-right: 8px;

    }
  }

}

// Modal Body

.modal-body {

  padding: 16px 0px 8px;
  color: #737373;

}

// Modal close

.modal-close {

  position: absolute;
  top: 11px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: .35;
  cursor: pointer;

  span.icon{

    display: block;
    background-size: 18px;
    width: 18px;
    height: 18px;

    padding: 6px;

  }

}

.modal-close:hover{
  opacity: .75;
}

.shareBtn {
  background-color: #0078bf;
  background: -webkit-linear-gradient(to right, #0078bf, #0fbef1);
  background: linear-gradient(to right, #0078bf, #0fbef1);
  border-radius: 20px;
  color: #fff;
  display: block !important;
  font-size: 14px;
  font-weight: 500;
  padding: 10px !important;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.shareBtnWhite {
  color: #0078bf;
  display: block !important;
  font-size: 14px;
  font-weight: 500;
  padding: 10px !important;
  text-align: center;
  width: 100%;
  margin-top: 20px;

  background: none!important;
  border:none!important;

}

div#myModal{

  button.shareBtn{

    max-width: 190px;
    display: inline-block!important;
    text-transform: uppercase;
    font-size: 0.9em;

  }

  button.shareBtnWhite{

    max-width: 220px;
    display: inline-block!important;
    text-transform: uppercase;
    font-size: 0.9em;

  }

}
.progress-bar-wrap{

  height:4px;
}

.progress-bar-back{

  background: #F1F1F1;
  height: 4px;

  .progress-bar-front{

    background: #0598EC;

    width: 0%;
    height: 4px;
    -webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;

  }


}


// Modal animations

@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


/* RESPONSIVE STYLES
----------------------------- */

div#amxSharePopup{

  div.shareForm-btn .icon-more, ul#shareWithList .icon-more{
    margin-right: 5px;
  }

}


div#shareWithListWrapper{

  min-height: 350px;
  //max-height: 400px;
  //-webkit-overflow-y: overlay;
  //-moz-overflow-y: overlay;
  //overflow-y: auto;
  //overflow-x: hidden;
  width: 100%;

}

.modal:before {

  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.modal-content{
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}


/* Small Devices, Tablets */

@media only screen and (max-width : 776px) {
  .modal-content {
    width: 90%;
  }
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 668px) {

    .modal-content {
      min-width: 100%;
      min-height: 100%;
      margin: 0;
      border: 0 !important;
    }

    span.linkCopyText{
      font-size: 6px !important;
      padding: 4px;
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
    }

    div#shareListView{
      padding-bottom: 60px;
    }

    div#shareWithListWrapper{

      height:auto!important;
      overflow: visible!important;
      max-height: 100%!important;
    }

}