div#amxSharePopup .shareLinkConfig {

  margin: auto;
  width: 95%;

  /* MATERIAL DESIGN-LIKE INPUTS
  -----------------------------*/

  .group {

    position:relative;
    margin-bottom:16px;

    input {
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      border:none;
      border-bottom:1px solid #757575;
      border-radius: 0!important;
      width: 100%!important;
    }

    input:focus { outline:none; }

    .bar { position:relative; display:block; }

    .bar:before, .bar:after {
      content:'';
      height:2px;
      width:0;
      bottom:2px;
      position:absolute;
      background:#5264AE;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }


  }

  .sharelink-copylabel{

    .icon{
      display: inline-block;
    }

    color: black;
    font-weight: bold;

  }

  input[type='checkbox'].radio + label:before, input[type='radio'].radio + label:before, input[type='checkbox'].checkbox + label:before, input[type='radio'].checkbox + label:before {
    height: 16px;
    width: 16px;
  }


  /* FOOTER
  ----------------------------- */

  .footer-linkconfig {

    text-align: right;
    padding-top: 32px;

    button.shareBtnWhite{
      width: auto;
    }

    button.shareBtn, button.shareBtnWhite{

      max-width: 160px;

    }

    button#linkDeleteBtnAmx{
      float: left;
    }


  }


  /* OVERWRITE SHARETABVIREW
  ----------------------------- */

}



#ui-datepicker-div{z-index:100000 !important; }
