
// Share list

div#amxSharePopup {

  .unshare.icon-loading-small {
    margin-top: 1px;
  }
  .shareWithLoading, .linkShare .icon-loading-small {
    display: inline-block !important;
    padding-left: 10px;
  }
  .shareWithLoading {
    position: relative;
    right: 70px;
    top: 2px;
  }
  .icon-loading-small.hidden {
    display: none !important;
  }
  .avatar {
    margin-right: 8px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
  }
  label {
    font-weight: 400;
    white-space: nowrap;
  }
  input[type='radio'].radio + label {
    margin-left: -1px;
  }
  input[type='checkbox'] {
    margin: 0 3px 0 8px;
    vertical-align: middle;
  }
  input[type='submit'] {
    margin-left: 7px;
  }
  form {
    font-size: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .error {
    color: $color-error;
    border-color: $color-error;
    box-shadow: 0 0 6px rgba($color-error, 0.35);
  }
  .mailView .icon-mail {
    opacity: 0.5;
  }

  // Link

  .clipboardButton, .linkPass .icon-loading-small {
    position: absolute;
    right: -7px;
    top: -4px;
    padding: 14px;
  }

  .linkMore {
    position: absolute;
    right: -7px;
    top: -4px;
    padding: 14px;
  }

  .popovermenu .clipboardButton {
    position: relative;
    top: initial;
    right: initial;
    padding: 18px 0 18px 36px;
  }

}

div#amxSharePopup {

  #shareWithList .username {

    max-width: 300px;

  }

}
div.shareLinkConfig div.linkPass{
  display: none;
}
div.shareLinkConfig div.linkPass.open{
  display: block;
}


@media only screen and (min-width : 500px) {

  div#amxSharePopup {

    #shareWithList > li > .sharingOptionsGroup {
      position: absolute;
      right: 0;
    }

  }

}




